extends layout

block content
  #container
    header#header
      .inner
        h1.title
          img(src="/images/header_ascure.png")
    h2 ただいまメンテナンスを行っております
    .content
      .inner
        .msg
          p 以下の日程で、メンテナンスを行っております。
          h2 日時： 2017年 10月 18日 (水) 10:00 〜 18:00
          p メンテナンス中は当サービスをご利用いただけません。
          p ご迷惑おかけして申し訳ありませんが、よろしくお願い致します。
